.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  border-bottom: 1px solid var(--white-1);
  box-shadow: 0 0 1px var(--black);
  z-index: 100;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    row-gap: 1rem;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
  }

  &__form {
    flex-grow: 1;
  }
}

.logo {
  width: 3rem;
  height: 3rem;
  fill: var(--black);
}

.search {
  position: relative;
  display: flex;

  &__input {
    flex-grow: 1;
    height: 100%;
    padding: 0.5rem 0 0.5rem 4rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: 2em;
    background-color: var(--white-1);
    border: 1px solid var(--white-1);
    transition: background-color .3s ease;

    &:focus {
      background-color: var(--white);
    }

    &::placeholder {
      font-weight: 300;
    }


    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      margin: 0 1rem;
      width: 1.5rem;
      height: 1.5rem;
      background: url('../svg/close.svg') no-repeat center /contain;
      cursor: pointer;
    }
  }

  &__label {
    position: absolute;
    top: 0.5rem;
    user-select: none;
    left: 1rem;
  }
}

.intro {
  background: url('../img/bg.jpg') no-repeat center /cover;

  &__inner {
    display: flex;
    color: var(--white);
    align-items: center;
    height: 100vh;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__text {
    & + & {
      margin-top: 1rem;
    }
  }
}

.gallery {
  &__list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 3rem 1rem;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 5vw;
    column-gap: 2rem;
    row-gap: 3rem;
  }

  &__item {
    position: relative;
    cursor: pointer;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.1);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      transition: background-color .3s ease;
    }

    &:hover:after {
      background-color: rgba(0, 0, 0, 40%);
      pointer-events: none;
    }

    &--1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &--2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &--3 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 6;
    }

    &--4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 6;
    }

    &--5 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 9;
    }

    &--6 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 9;
    }

    &--7 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 9;
      grid-row-end: 14;
    }

    &--8 {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 9;
      grid-row-end: 11;
    }

    &--9 {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 9;
      grid-row-end: 11;
    }

    &--10 {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 11;
      grid-row-end: 16;
    }

    &--11 {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 11;
      grid-row-end: 16;
    }

    &--12 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 14;
      grid-row-end: 19;
    }

    &--13 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 14;
      grid-row-end: 19;
    }

    &--14 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 16;
      grid-row-end: 21;
    }

    &--15 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 19;
      grid-row-end: 21;
    }

    &--16 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 19;
      grid-row-end: 21;
    }

    &--17 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 21;
      grid-row-end: 24;
    }

    &--18 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 21;
      grid-row-end: 24;
    }

    &--19 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 24;
      grid-row-end: 29;
    }

    &--20 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 24;
      grid-row-end: 29;
    }

    &--21 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 29;
      grid-row-end: 32;
    }

    &--22 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 29;
      grid-row-end: 32;
    }

    &--23 {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 29;
      grid-row-end: 32;
    }

    &--24 {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 29;
      grid-row-end: 32;
    }

    &--25 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 32;
      grid-row-end: 37;
    }

    &--26 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 32;
      grid-row-end: 37;
    }

    &--27 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 37;
      grid-row-end: 42;
    }

    &--28 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 42;
      grid-row-end: 45;
    }

    &--29 {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 42;
      grid-row-end: 45;
    }

    &--30 {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 42;
      grid-row-end: 45;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

  }
}

.footer {
  border-top: 1px solid var(--white-1);
  box-shadow: 0 0 1px var(--black);

  &__list {
    color: var(--black);
    padding: 1rem 0;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &:nth-child(3) {
      filter: invert(1);
    }
  }
}